RewriteEngine On

RewriteRule ^inicio$ ./index.php [L]
RewriteRule ^login/?$ ./login.php [L]
RewriteRule ^login/instrutor/?$ ./login_instrutor.php [L]
RewriteRule ^login/admin/?$ ./login_admin.php [L]
RewriteRule ^perfil/?$ ./perfil.php [L]
RewriteRule ^perfil/editar/?$ ./perfil_editar.php [L]
RewriteRule ^planos/([0-9]+)/?$ ./planos?id=$1.php [L]
RewriteRule ^planos/lista/?$ ./planos_lista.php [L]
RewriteRule ^instrutor/alunos/cadastrar/?$ ./industror_aluno_cadastrar.php [L]
RewriteRule ^instrutor/alunos/editar/([0-9]+)/?$ ./industror_aluno_editar.php?id=$1 [L]
RewriteRule ^instrutor/alunos/lista/?$ ./industror_aluno_lista.php [L]
RewriteRule ^instrutor/alunos/?$ ./industror_aluno.php [L]
RewriteRule ^instrutor/equipamento/lista/?$ ./industror_equipamentos_lista.php [L]
RewriteRule ^instrutor/equipamento/editar([0-9]+)/?$ ./industror_equipamentos_editar.php?id=$1 [L]
RewriteRule ^instrutor/equipamento/novo/?$ ./industror_equipamentos_novo.php [L]
RewriteRule ^instrutor/equipamento/remover([0-9]+)/?$ ./industror_equipamentos_remover.php?id=$1 [L]
RewriteRule ^instrutor/equipamento/?$ ./industror_equipamentos.php [L]
RewriteRule ^instrutor/perfil/?$ ./industror_perfil.php [L]
RewriteRule ^admin/perfil/?$ ./admin_perfil.php [L]
RewriteRule ^admin/novoinstrutor$ ./admin_novoinstrutor.php [L]