RewriteEngine On

RewriteRule ^inicio$ ./index.php [L]
RewriteRule ^login/?$ ./login.php [L]
RewriteRule ^login/instrutor/?$ ./login_instrutor.php [L]
RewriteRule ^login/admin/?$ ./login_admin.php [L]
RewriteRule ^perfil/?$ ./perfil.php [L]
RewriteRule ^perfil/editar/?$ ./perfil_editar.php [L]
RewriteRule ^planos/([0-9]+)/?$ ./planos.php?id=$1 [L]
RewriteRule ^planos/lista/?$ ./planos_lista.php [L]
RewriteRule ^instrutor/alunos/cadastrar/?$ ./instrutor_aluno_cadastrar.php [L]
RewriteRule ^instrutor/alunos/editar/([0-9]+)/?$ ./instrutor_aluno_editar.php?id=$1 [L]
RewriteRule ^instrutor/alunos/lista/?$ ./instrutor_aluno_lista.php [L]
RewriteRule ^instrutor/alunos/?$ ./instrutor_aluno.php [L]
RewriteRule ^instrutor/equipamento/lista/?$ ./instrutor_equipamentos_lista.php [L]
RewriteRule ^instrutor/equipamento/editar([0-9]+)/?$ ./instrutor_equipamentos_editar.php?id=$1 [L]
RewriteRule ^instrutor/equipamento/novo/?$ ./instrutor_equipamentos_novo.php [L]
RewriteRule ^instrutor/equipamento/remover([0-9]+)/?$ ./instrutor_equipamentos_remover.php?id=$1 [L]
RewriteRule ^instrutor/equipamento/?$ ./instrutor_equipamentos.php [L]
RewriteRule ^instrutor/perfil/?$ ./instrutor_perfil.php [L]
RewriteRule ^admin/perfil/?$ ./admin_perfil.php [L]
RewriteRule ^admin/novoinstrutor$ ./admin_novoinstrutor.php [L]
RewriteRule ^ferramentas/?$ ./ferramentas.php [L]